/* A variable that is being used in the mixin. */
.btn-contacto {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  color: #e9d9bc;
  background-color: #291515;
  box-shadow: -1px -1px 16px 1px #f2e5d5;
}
.btn-contacto:hover {
  background-color: #f2e5d5;
  color: #291515;
  box-shadow: -1px -1px 16px 1px #291515;
}

.fotoH {
  max-width: 14rem;
}

html {
  min-width: 95vw;
}

body {
  padding: 0;
  margin: 0;
  background-color: #161617;
  min-height: 95vw;
  color: #e9d9bc;
}

.navbar-header a img {
  max-width: 5rem;
}

.nav_navbar-nav {
  padding: 2rem;
}

.navegacion {
  justify-content: space-around;
  align-content: flex-end;
  align-items: center;
  font-size: large;
}

.bg-cover {
  background-size: cover !important;
  background-repeat: no-repeat;
  min-height: 580px;
  opacity: 0.85;
}

.contenedorH1 {
  min-height: 580px;
  text-shadow: 2px 2px 5px #260101;
}
.contenedorH1 h1 {
  font-size: 6rem;
}
.contenedorH1 p {
  padding: 2rem;
  font-size: 2.5rem;
}

.Q_S {
  background-color: #201a1a;
  margin: auto;
  min-width: 99vw;
}
.Q_S .centrarTexto {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: left;
}
.Q_S p {
  margin-bottom: 3rem;
}

.S_M {
  background-color: #161617;
  display: flex;
  margin: auto;
  min-width: 99vw;
  min-height: 80vh;
  align-items: center;
  justify-content: space-around;
  text-align: left;
}
.S_M .S_MI {
  align-items: flex-start;
  border: solid 1px red;
  max-width: 90%;
}
.S_M .S_MI .fotoTitulo {
  border: solid 1px green;
}
.S_M .S_MI .fotoTitulo h2 {
  margin-bottom: 4rem;
  margin-left: 2rem;
}
.S_M .description {
  border: solid 2px blue;
}
.S_M .description .about {
  border: solid 1px yellow;
}

.FotosSitio {
  border: solid 1px red;
  background-color: #201a1a;
  margin: auto;
  min-width: 99vw;
  min-height: 85vh;
}
.FotosSitio .headerFotos {
  border: solid 1px yellow;
}
.FotosSitio .las8img {
  border: solid 1px rgb(72, 255, 0);
  justify-content: flex-end;
}
.FotosSitio .las8img .i4superior {
  padding: 2rem;
  margin: 2rem;
}
.FotosSitio .las8img .i4superior img {
  border: solid 1px rgb(72, 255, 0);
  margin: 2rem;
}
.FotosSitio .las8img .i4superior img:hover {
  box-shadow: 5px 5px 16px 1px red;
  transform: scale(2);
  transition: 1s;
}
.FotosSitio .las8img .i4inferior {
  padding: 4rem;
  margin: 2rem;
}
.FotosSitio .las8img .i4inferior img {
  border: solid 1px rgb(255, 0, 221);
  margin: 2rem;
}
.FotosSitio .las8img .i4inferior img:hover {
  box-shadow: 5px 5px 16px 1px red;
  transform: scale(3);
  transition: 1s;
}

.columnaFormX2 {
  border: 1px solid rgb(38, 0, 255);
  justify-content: center;
}

.formSide {
  border: 1px solid rgb(255, 0, 0);
  justify-self: center;
}
.formSide .pCentrar {
  border: 1px solid rgb(38, 0, 255);
  justify-self: center;
  align-content: center;
  text-align: center;
  padding-block: 2em;
}
.formSide .pCentrar .frase {
  font-size: 1.25rem;
  padding: 2rem;
}

.formularioDerecha {
  border: 1px solid rgb(0, 255, 21);
  /**
  * ! style rules for form section
  **/
  /**
  * ! style rules for social section
  **/
  /**
  * ! style rules for form icons
  **/
  /**
  * ! style rules for button 
  **/
  /**
  * ! Media Queries are here
  **/
}
.formularioDerecha form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  /* max-width: 400px; */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 50px;
}
.formularioDerecha .title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
.formularioDerecha form div input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: 2px solid #c4c4c4;
  padding: 0 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.formularioDerecha label {
  display: block;
  margin-bottom: 5px;
}
.formularioDerecha form div {
  position: relative;
  margin-bottom: 15px;
}
.formularioDerecha input:focus {
  border: 2px solid #f2796e;
}
.formularioDerecha .btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}
.formularioDerecha .btn-1,
.formularioDerecha .btn-2 {
  padding: 10px 5px;
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  border: 2px solid #c4c4c4;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.formularioDerecha .btn-2 {
  background-color: #4f70b5;
  color: white;
  border: 2px solid #4f70b5;
}
.formularioDerecha .or {
  text-align: center;
}
.formularioDerecha .question {
  font-size: 15px;
}
.formularioDerecha span {
  color: #f2796e;
  cursor: pointer;
}
.formularioDerecha form div i {
  position: absolute;
  padding: 10px;
  color: #291515;
}
.formularioDerecha .success-icon,
.formularioDerecha .failure-icon {
  right: 0;
  opacity: 0;
}
.formularioDerecha .failure-icon,
.formularioDerecha .error {
  color: red;
}
.formularioDerecha .success-icon {
  color: green;
}
.formularioDerecha .error {
  font-size: 14.5px;
  margin-top: 5px;
}
.formularioDerecha button {
  margin-top: 15px;
  width: 100%;
  height: 45px;
  background-color: #f2796e;
  border: 2px solid #f2796e;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease;
}
.formularioDerecha button:hover {
  opacity: 0.8;
}
@media (max-width: 900px) {
  .formularioDerecha .container {
    flex-direction: column;
  }
  .formularioDerecha form,
.formularioDerecha .content {
    width: 100%;
  }
  .formularioDerecha .btn {
    flex-direction: column;
  }
  .formularioDerecha .image {
    height: 70vh;
  }
}
@media (max-width: 425px) {
  .formularioDerecha form {
    padding: 20px;
  }
}

/*footer*/
footer {
  width: 100%;
  background-color: #263238;
  min-height: 3rem;
  padding: 10px 0px 25px 0px;
}

footer p {
  font-size: 13px;
  color: rgb(251, 255, 2);
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.footer_ul {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}

.footer_ul li {
  padding: 0px 0px 5px 0px;
}

.footer_ul li a {
  color: rgb(253, 128, 186);
}

.footer_ul li a:hover {
  color: rgb(245, 9, 213);
  text-decoration: none;
}

.footer_bottom_ul {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.footer_bottom_ul li {
  display: inline;
}

.footer_bottom_ul li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}

.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}

.social_footer_ul li a {
  color: #ccc;
  border: 1px solid rgb(175, 6, 6);
  padding: 8px;
  border-radius: 50%;
}

.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
