@use "componentes";

html {
  min-width: 100vw;
}

body {
  padding: 0;
  margin: 0;
  background-color: componentes.$background-color;
}
.navbar-header a img {
  max-width: 5rem;
}
.nav_navbar-nav {
  padding: 2rem;
}
.navegacion {
  justify-content: space-around;
  align-content: flex-end;
  align-items: center;
  background-color: rgb(61, 16, 16);
  font-size: large;
}
