@use "componentes";

html {
  min-width: 95vw;
}

body {
  padding: 0;
  margin: 0;
  background-color: componentes.$background-color; //*luego de importar trato al archivo como un objeto
  min-height: 95vw;
  color: componentes.$text-color; //*luego de importar trato al archivo como un objeto
}
.navbar-header a img {
  max-width: 5rem;
}
.nav_navbar-nav {
  padding: 2rem;
}

.navegacion {
  justify-content: space-around;
  align-content: flex-end;
  align-items: center;
  // background-color: rgb(61, 16, 16);
  font-size: large;
}

//* CUSTOM UTIL CLASSES
.bg-cover {
  background-size: cover !important; //!volver a sacar el important
  background-repeat: no-repeat;
  min-height: 580px;
  opacity: 0.85;
}
.contenedorH1 {
  min-height: 580px;
  text-shadow: 2px 2px 5px #260101;
  h1 {
    font-size: 6rem;
  }
  p {
    padding: 2rem;
    font-size: 2.5rem;
  }
}
.Q_S {
  background-color: componentes.$background-color-soft;
  margin: auto;
  min-width: 99vw; //para que no se vea margen sin color de fondo

  .centrarTexto {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    text-align: left;
  }
  p {
    margin-bottom: 3rem;
  }
}

.S_M {
  background-color: componentes.$background-color;
  display: flex;
  margin: auto;
  min-width: 99vw;
  min-height: 80vh;
  align-items: center;
  justify-content: space-around;
  text-align: left;

  .S_MI {
    align-items: flex-start;
    border: solid 1px red;
    max-width: 90%;

    .fotoTitulo {
      border: solid 1px green;
      h2 {
        margin-bottom: 4rem;
        margin-left: 2rem;
      }
    }
  }

  .description {
    border: solid 2px blue;
    .about {
      border: solid 1px yellow;
    }
  }
}

.FotosSitio {
  border: solid 1px red;
  background-color: componentes.$background-color-soft;
  margin: auto;
  min-width: 99vw;
  min-height: 85vh;
  .headerFotos {
    border: solid 1px yellow;
  }
  .las8img {
    border: solid 1px rgb(72, 255, 0);
    justify-content: flex-end;

    .i4superior {
      padding: 2rem;
      margin: 2rem;
      //sin importan no tiene especificidad
      img {
        border: solid 1px rgb(72, 255, 0);
        margin: 2rem;
        &:hover {
          box-shadow: 5px 5px 16px 1px red;
          transform: scale(2); //translate(0px,50px);
          transition: 1s;
        }
      }
    }
    .i4inferior {
      padding: 4rem; //sin importan no tiene especificidad
      margin: 2rem;
      img {
        border: solid 1px rgb(255, 0, 221);
        margin: 2rem;
        &:hover {
          box-shadow: 5px 5px 16px 1px red;
          transform: scale(3); //translate(0px,50px);
          transition: 1s;
        }
      }
    }
  }
}

//! Formulario 2 columnas*/
//? parte izquierda texto
.columnaFormX2 {
  border: 1px solid rgb(38, 0, 255);
  justify-content: center;
}
.formSide {
  border: 1px solid rgb(255, 0, 0);
  justify-self: center;
  .pCentrar {
    border: 1px solid rgb(38, 0, 255);
    justify-self: center;
    align-content: center;
    text-align: center;
    padding-block: 2em;
    .frase {
      font-size: 1.25rem;
      padding: 2rem;
    }
  }
}

//? parte derecha formulario
.formularioDerecha {
  //importado de codecamp
  border: 1px solid rgb(0, 255, 21);
  /**
* ! style rules for form section
**/

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    /* max-width: 400px; */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
  }

  .title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  form div input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  form div {
    position: relative;
    margin-bottom: 15px;
  }

  input:focus {
    border: 2px solid #f2796e;
  }
                                                     //* Sacar las flechas de los números
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

  /**
* ! style rules for social section
**/



  /**
* ! style rules for form icons
**/

  form div i {
    position: absolute;
    padding: 10px;
    color: componentes.$btn-color-dark;
  }

  .success-icon,
  .failure-icon {
    right: 0;
    opacity: 0;
  }

  .failure-icon,
  .error {
    color: red;
  }

  .success-icon {
    color: green;
  }

  .error {
    font-size: 14.5px;
    margin-top: 5px;
  }

/**
* ! style rules for button 
**/

  button {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: #f2796e;
    border: 2px solid #f2796e;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
  }

  button:hover {
    opacity: 0.8;
  }

  /**
* ! Media Queries are here
**/

  @media (max-width: 900px) {
    .container {
      flex-direction: column;
    }

    form,
    .content {
      width: 100%;
    }

    .btn {
      flex-direction: column;
    }
    .image {
      height: 70vh;
    }
  }

  @media (max-width: 425px) {
    form {
      padding: 20px;
    }
  }
}

//! fin form------------------------------------------

//! footer
/*footer*/
footer {
  width: 100%;
  background-color: #263238;
  min-height: 3rem;
  padding: 10px 0px 25px 0px;
}

footer p {
  font-size: 13px;
  color: rgb(251, 255, 2);
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.footer_ul {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul li {
  padding: 0px 0px 5px 0px;
}
.footer_ul li a {
  color: rgb(253, 128, 186);
}
.footer_ul li a:hover {
  color: rgb(245, 9, 213);
  text-decoration: none;
}

.footer_bottom_ul {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.footer_bottom_ul li {
  display: inline;
}
.footer_bottom_ul li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid rgb(175, 6, 6);
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}
